.login {
    width: 396px;
    margin: 0 auto;
    max-width: 1280px;
}

.login__header {
    padding-top: 70px;
}

.login__title {
    margin: 40px 0 40px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 396px;
}

.login__label {
    padding: 20px 0 10px 0;
    color: #8B8B8B;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__label:first-child {
    padding: 0px 0 10px 0;
}

.login__input {
    border-radius: 8px;
    background-color: #2F2F2F;
    border: none;
    height: 46px;
    color: #fff;
    padding-left: 15px;
}

.login__saved {
    margin-top: 179px;
    padding: 13px 0 15px 0;
    text-align: center;
    width: 396px;
    border-radius: 3px;
    background-color: #4285F4;
    border: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.login__saved:hover {
    cursor: pointer;
    opacity: .8;
}

.login__saved:disabled {
    cursor: default;
    opacity: .5;
}

.login__description {
    text-align: center;
    width: 396px;
    color: #8B8B8B;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__link {
    text-decoration: none;
    color: #4285F4;
}

.login__link:hover {
    opacity: .7;
}

.login__error {
    padding-top: 10px;
    color: #EE3465;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__error_server {
    position: absolute;
    top: 550px;
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    .login {
        max-width: 768px;
    }

    .login__header {
        padding-top: 232px;
    }

    .login__saved {
        margin-top: 179px;
    }

    .login__description {
        margin-top: 16px;
    }
}

@media screen and (max-width: 767px){
    .login {
        max-width: 320px;
    }

    .login__header {
        padding-top: 56px;
        width: 320px;
        display: flex;
        justify-content: center;
    }

    .login__title {
        margin: 50px 0 80px 0;
        text-align: center;
    }

    .login__form {
        width: calc(100% - 60px);
        margin: 0 auto;
    }

    .login__saved {
        margin-top: 267px;
        width: 260px;
        height: 45px;
    }

    .login__description {
        width: calc(100% - 60px);
        margin: 0 auto;
        padding-top: 14px;
        font-size: 12px;
    }
}